#results{
    margin-top:20px;
    position:relative;
}

#training{
    position: relative;
    top:0;
    left:auto;
}

#vs{
    position: relative;
    top:0;
    left:auto;
    margin-top:20px;
}

#target-attr{
    position:relative;
    top:auto;
    left:auto;
}

.section-table-content{
    padding:5px;
    text-align:center;
    width:50%;
}

.section-table{
    width:100%;
}
