#shieldresults{
    position: relative;
    top:auto;
    left:auto;
    margin-top:20px;
    margin-left: -300px;
}

#vs{
    width:auto;
}

.section-table-content-res{
    padding:5px;
    text-align:center;
    width:300px;
}

.section-table-res{
    width:600px;
}