.header-group{
    width:100%;
    padding:5px;
}

.group{
    width:100%;
    margin-top:-12px;
}

.header-res{
    width:100%;
    padding:5px;
}

.group-res{
    width:100%;
    margin-top:-12px;
}

#data_pos{
    position: relative;
    top:0;
    left:0;
}

#visualizer{
    position: relative;
    margin-top:0;
    margin-left:0;
    width:100%;
    height:100%;
}

#training{
    float:unset;
    clear:both;
}

#vs{
    float:unset;
    clear:both;
    margin-top:15px;
}

.pos-left{
    float:unset;
    clear:both;
}

.pos-right{
    float:unset;
    clear:both;
    margin-top:15px;
}

.pos-attr{
    left:0;
}

.pos-mod{
    left:0;
}