@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  position: relative;
  margin: 0;
  padding-bottom: 160px;
  min-height: 100%;
  font-family: Open Sans;
  background:#F0F0F0;
}

input,select{
    font-family: Open Sans;
}


input[type=number]{
    width:5em;
}

#calculator{
    position:relative;
    margin-top:10px;
    margin-left:10px;
}

#training{
    position: absolute;
    top:0;
    left:550px;
}

#vs{
    position: absolute;
    top:0;
    left:850px;
}

.hide-link{
    color:black;
    font-style:normal;
    text-decoration: none;
}

table,td,tr{
    border:1px solid black;
    padding:1px;
    border-collapse: collapse;
}

.header {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    border-bottom:1px solid black;
    width:100%;
    padding: 10px 0 10px 0;
    height:auto;
    text-align: left;
    display: inline-block;
    background:#cfcfcf;
}

.header-image{
    width:80px;
    height:80px;
}

#header-icon{
    float:left;
    margin-left:10px;
}

#header-text{
    float:left;
    display: inline-block;
}

#github-profile{
    clear:none;
    float:right;
    margin-right:20px;
}

#header-cont h2{
    display: inline;
    margin-left:10px;
    
}

.description{
    margin-left:10px;
}

.attribute{
    padding:2px;
}

.value{
    padding:2px;
}
