@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  position: relative;
  margin: 0;
  padding-bottom: 160px;
  min-height: 100%;
  font-family: Open Sans;
  background:#F0F0F0;
}

#content{
    margin-left:20px;
}

input,select{
    font-family: Open Sans;

}

input[type=number]{
    width:5em;
}

#calculator{
    position:relative;
    margin-top:10px;
    margin-left:10px;
}

#section{
    position:relative;
    margin-top:10px;
    margin-left:10px;
}

.section-table-content{
    padding:5px;
    text-align:center;
    width:250px;
}

.section-table{
    width:500px;
}

#main{
    position:relative;
    display:block;
}

#attributes{
    position:relative;
    display:none;
}

#training{
    position: absolute;
    top:0;
    left:550px;
}

#vs{
    position: absolute;
    top:0;
    left:850px;
}

.select-link{
    color:blue;
}

.hide-link{
    color:black;
    font-style:normal;
    text-decoration: none;
}

table,td,tr{
    border:1px solid black;
    padding:1px;
    border-collapse: collapse;
}

.footer-table{
    border:unset;
    padding:4px;
    border-collapse: collapse;
}

.footer-table-center{
    border:unset;
    padding:4px;
    border-right:1px solid black;
}

.footer-table-left{
    border:unset;
    padding:4px;
    border-right:1px solid black;
}

.footer-table-right{
    border:unset;
    padding:4px;
    border-left:1px solid black;
}

.header {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    border-bottom:1px solid black;
    width:100%;
    padding: 10px 0 10px 0;
    height:auto;
    text-align: left;
    display: inline-block;
    background:#cfcfcf;
}

.footer{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    border-top:1px solid #aeaeae;
    width:100%;
    padding: 3px 0 3px 0;
    height:auto;
    display: inline-block;
    font-size:12px;
}

.header-image{
    width:80px;
    height:80px;
}

#header-icon{
    float:left;
    margin-left:10px;
}

#header-text{
    float:left;
    display: inline-block;
}

#footer-text{
    display: inline-block;
    float:right;
    margin-right:10px;
}

#github-profile{
    clear:none;
    float:right;
    margin-right:20px;
}

#header-cont h2{
    display: inline;
    margin-left:10px;
}

.description{
    margin-left:10px;
}

.attribute{
    padding:2px;
}

.value{
    padding:2px;
}

#attacker-attr{
    position:relative;
    top:0;
    padding-bottom:30px;
}

#target-attr{
    position:absolute;
    top:0;
    left:300px;
}

#filter{
    position: relative;
    top:0;
    left:auto;
}