#results{
    margin-top:20px;
    position:relative;
}

#training{
    position: relative;
    top:0;
    left:auto;
}

#vs{
    position: absolute;
    top:0;
    left:300px;
    width:auto;
}

#shieldresults{
    position: relative;
    top:0;
    left:auto;
    margin-top:20px;
}

.section-table-content{
    padding:5px;
    text-align:center;
    width:50%;
}

.section-table{
    width:100%;
}

#filter{
    position: relative;
    top:0;
    left:auto;
}