.header-group{
    width:50%;
    padding:5px;
}

.group{
    width:50%;
    margin-top:-12px;
}

.header-res{
    width:500px;
    padding:5px;
}

.group-res{
    width:500px;
    margin-top:-12px;
}

#data_pos{
    position: absolute;
    top:0;
    left:60%;
}

#visualizer{
    position: relative;
    margin-top:0;
    margin-left:0;
    width:300px;
    height:300px;
}

#training{
    float:unset;
    clear:both;
}

#vs{
    float:unset;
    clear:both;
    margin-top:15px;
}