<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <script src="js/github.js"></script>
    <script src="js/formulas.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/KuroganeAPI.js"></script>
    <script src="js/filter.js"></script>
    <link id="favicon" rel="shortcut icon" href="" type="image/png" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style-small.css" media="screen and (max-width: 1199px) and (min-width: 600px)" />
    <link rel="stylesheet" type="text/css" href="css/style-small-600.css" media="screen and (max-width: 599px) and (min-width: 0px)" />
    <title>Sm4sh Calculator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <meta name="description" content="Web based Smash 4 knockback calculator" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Ruben_DAL" />
    <meta name="twitter:title" content="Sm4sh Calculator" />
    <meta name="twitter:description" content="Web based Smash 4 knockback calculator" />
    <meta name="twitter:image:src" content="https://avatars1.githubusercontent.com/u/10661132?v=3&amp;s=400" />
    <meta property="og:title" content="Sm4sh Calculator" />
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/10661132?v=3&amp;s=400" />
    <meta property="og:description" content="Web based Smash 4 knockback calculator" />
</head>
<body ng-app="filter" ng-controller="filter">

    <div id="header" class="header">
        <div id="header-cont">
            <!--<img id="header-icon" class="header-image" src="" />-->
            <div id="header-text">
                <a class="hide-link" href="https://github.com/rubendal/Sm4sh-Calculator" target="_blank" title="Github repository"><h2>Sm4sh Calculator</h2></a>
                <br />
                <span class="description">Smash 4 knockback calculator</span>
            </div>
            <span id="github-user"></span>
        </div>

    </div>

    <!--<div id="footer" class="footer">
        <div id="footer-cont">
            <div id="footer-text">

            </div>
        </div>
    </div>-->

    <span ng-style="loading">{{status}}</span>

    <div name="calculator" id="calculator" ng-style="filter_interface">

        <div id="main" ng-style="main_style">
            <div>
                Name:
                <input name="name" type="text" ng-model="name" ng-change="update()" />
                <br/>
                First Hitbox frame:
                <input name="hit_frame" type="number" min="0" max="300" step="1" ng-model="hitbox_frame" ng-change="update()" />
                
                <input name="hit_frame_cond" type="radio" value="=" ng-model="hitbox_frame_cond" ng-change="update()"/>=
                <input name="hit_frame_cond" type="radio" value="<" ng-model="hitbox_frame_cond" ng-change="update()" />&lt;
                <input name="hit_frame_cond" type="radio" value=">" ng-model="hitbox_frame_cond" ng-change="update()" />&gt;
                <input name="hit_frame_cond" type="radio" value="<=" ng-model="hitbox_frame_cond" ng-change="update()" />&lt;=
                <input name="hit_frame_cond" type="radio" value=">=" ng-model="hitbox_frame_cond" ng-change="update()" />&gt;=
                <input name="hit_frame_cond" type="radio" value="between" ng-model="hitbox_frame_cond" ng-change="update()" />between
                <input name="hit_frame2" type="number" min="0" max="300" step="1" ng-model="hitbox_frame2" ng-change="update()" />
                <input name="hit_frame_cond" type="radio" value="ignore" ng-model="hitbox_frame_cond" ng-change="update()" />Ignore
                <br />
                Base damage:
                <input name="base_damage" type="number" min="0" max="999" step="0.5" ng-model="base_damage" ng-change="update()" />

                <input name="base_damage_cond" type="radio" value="=" ng-model="base_damage_cond" ng-change="update()" />=
                <input name="base_damage_cond" type="radio" value="<" ng-model="base_damage_cond" ng-change="update()" />&lt;
                <input name="base_damage_cond" type="radio" value=">" ng-model="base_damage_cond" ng-change="update()" />&gt;
                <input name="base_damage_cond" type="radio" value="<=" ng-model="base_damage_cond" ng-change="update()" />&lt;=
                <input name="base_damage_cond" type="radio" value=">=" ng-model="base_damage_cond" ng-change="update()" />&gt;=
                <input name="base_damage_cond" type="radio" value="between" ng-model="base_damage_cond" ng-change="update()" />between
                <input name="base_damage2" type="number" min="0" max="300" step="1" ng-model="base_damage2" ng-change="update()" />
                <input name="base_damage_cond" type="radio" value="ignore" ng-model="base_damage_cond" ng-change="update()" />Ignore
                <br />
            </div>

        </div>

        

        <div id="results">
            <div id="filter">
                <table>
                    <tr>
                        <td>Character</td>
                        <td>Move</td>
                        <td>Hitbox start</td>
                        <td>Hitbox end</td>
                        <td>Base damage</td>
                        <td>Angle</td>
                        <td>BKB</td>
                        <td>KBG</td>
                    </tr>
                    <tr ng-repeat="x in filteredMoves track by $index">
                        <td class="attribute">{{ x.character }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.name }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.hitbox_start }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.hitbox_end }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.base_damage }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.angle }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.bkb }}</td>
                        <td class="value" ng-style="{{x.style}}">{{ x.move.kbg }}</td>
                    </tr>
                </table>
            </div>
        </div>



    </div>


</body>


</html>
