<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <script src="js/formulas.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/KuroganeAPI.js"></script>
    <script src="js/filter.js"></script>
    <link id="favicon" rel="shortcut icon" href="./img/icon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style-small.css" media="screen and (max-width: 1199px) and (min-width: 600px)" />
    <link rel="stylesheet" type="text/css" href="css/style-small-600.css" media="screen and (max-width: 599px) and (min-width: 0px)" />
    <title>Sm4sh Calculator - Move Search</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.3" />
    <meta name="description" content="Web based Smash 4 move frame data search" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Ruben_dal" />
    <meta name="twitter:title" content="Sm4sh Calculator - Move Search" />
    <meta name="twitter:description" content="Web based Smash 4 move frame data search" />
    <meta name="twitter:image:src" content="https://raw.githubusercontent.com/rubendal/Sm4sh-Calculator/gh-pages/img/icon.png" />
    <meta property="og:title" content="Sm4sh Calculator" />
    <meta property="og:image" content="https://raw.githubusercontent.com/rubendal/Sm4sh-Calculator/gh-pages/img/icon.png" />
    <meta property="og:description" content="Web based Smash 4 knockback calculator" />
</head>
<body ng-app="filter" ng-controller="filter">

    <div id="header" class="header">
        <div id="header-cont">
            <img id="header-icon" class="header-image" src="./img/icon.png" />
            <div id="header-text">
                <a class="hide-link" href="https://github.com/rubendal/Sm4sh-Calculator#move-search" target="_blank" title="Github repository"><h2>Sm4sh Calculator - Move Search</h2></a>
                <br />
                <span class="description"></span>
                <br />
                <div class="header-links">
                    <table class="header-table">
                        <tr class="header-table">
                            <td class="header-table">
                                <a class="select-link" href="./index.html">Calculator</a>
                            </td>
                            <td class="header-table">
                                <a class="select-link" href="./percentcalc.html">Percentage Calculator</a>
                            </td>
                            <td class="header-table">
                                <a class="select-link" href="./launchvisualizer.html">Launch Visualizer</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<span id="github-user">
                <a href="https://github.com/rubendal" target="_blank" title="Github profile">
                    <img id="github-profile" class="header-image" src="https://avatars.githubusercontent.com/u/10661132?v=3"/>
                </a>
            </span>-->
        </div>

    </div>

    <!--<div id="footer" class="footer">
        <div id="footer-cont">
            <div id="footer-text">

            </div>
        </div>
    </div>-->

    <span ng-style="loading">{{status}}</span>

    <div name="calculator" id="calculator" ng-style="filter_interface">

        <div id="main" ng-style="main_style">
            <div>
                Name:
                <input name="name" type="text" ng-model="name" ng-change="update()" />
                <br/>
                Hitbox startup frame:
                <input name="hit_start" type="number" min="0" max="300" step="1" ng-model="hitbox_start" ng-change="update()" />
                
                <input name="hit_start_cond" type="radio" value="=" ng-model="hitbox_start_cond" ng-change="update()"/>=
                <input name="hit_start_cond" type="radio" value="<" ng-model="hitbox_start_cond" ng-change="update()" />&lt;
                <input name="hit_start_cond" type="radio" value=">" ng-model="hitbox_start_cond" ng-change="update()" />&gt;
                <input name="hit_start_cond" type="radio" value="<=" ng-model="hitbox_start_cond" ng-change="update()" />&lt;=
                <input name="hit_start_cond" type="radio" value=">=" ng-model="hitbox_start_cond" ng-change="update()" />&gt;=
                <input name="hit_start_cond" type="radio" value="between" ng-model="hitbox_start_cond" ng-change="update()" />between
                <input name="hit_start2" type="number" min="0" max="300" step="1" ng-model="hitbox_start2" ng-change="update()" />
                <input name="hit_start_cond" type="radio" value="any" ng-model="hitbox_start_cond" ng-change="update()" />Any
                <br />
                Hitbox active on frame:
                <input name="hit_frame" type="number" min="0" max="300" step="1" ng-model="hitbox_frame" ng-change="update()" />

                <input name="hit_frame_cond" type="checkbox" ng-model="hitbox_frame_cond" ng-change="update()" />Any
                <br />
                FAF:
                <input name="faf" type="number" min="0" max="300" step="1" ng-model="faf" ng-change="update()" />
                
                <input name="faf_cond" type="radio" value="=" ng-model="faf_cond" ng-change="update()"/>=
                <input name="faf_cond" type="radio" value="<" ng-model="faf_cond" ng-change="update()" />&lt;
                <input name="faf_cond" type="radio" value=">" ng-model="faf_cond" ng-change="update()" />&gt;
                <input name="faf_cond" type="radio" value="<=" ng-model="faf_cond" ng-change="update()" />&lt;=
                <input name="faf_cond" type="radio" value=">=" ng-model="faf_cond" ng-change="update()" />&gt;=
                <input name="faf_cond" type="radio" value="between" ng-model="faf_cond" ng-change="update()" />between
                <input name="faf2" type="number" min="0" max="300" step="1" ng-model="faf2" ng-change="update()" />
                <input name="faf_cond" type="radio" value="any" ng-model="faf_cond" ng-change="update()" />Any
                <br />
                Base damage:
                <input name="base_damage" type="number" min="0" max="999" step="0.5" ng-model="base_damage" ng-change="update()" />

                <input name="base_damage_cond" type="radio" value="=" ng-model="base_damage_cond" ng-change="update()" />=
                <input name="base_damage_cond" type="radio" value="<" ng-model="base_damage_cond" ng-change="update()" />&lt;
                <input name="base_damage_cond" type="radio" value=">" ng-model="base_damage_cond" ng-change="update()" />&gt;
                <input name="base_damage_cond" type="radio" value="<=" ng-model="base_damage_cond" ng-change="update()" />&lt;=
                <input name="base_damage_cond" type="radio" value=">=" ng-model="base_damage_cond" ng-change="update()" />&gt;=
                <input name="base_damage_cond" type="radio" value="between" ng-model="base_damage_cond" ng-change="update()" />between
                <input name="base_damage2" type="number" min="0" max="999" step="0.5" ng-model="base_damage2" ng-change="update()" />
                <input name="base_damage_cond" type="radio" value="any" ng-model="base_damage_cond" ng-change="update()" />Any
                <br />
                Angle:
                <input name="angle" type="number" min="0" max="367" step="1" ng-model="angle" ng-change="update()" />

                <input name="angle_cond" type="radio" value="=" ng-model="angle_cond" ng-change="update()" />=
                <input name="angle_cond" type="radio" value="<" ng-model="angle_cond" ng-change="update()" />&lt;
                <input name="angle_cond" type="radio" value=">" ng-model="angle_cond" ng-change="update()" />&gt;
                <input name="angle_cond" type="radio" value="<=" ng-model="angle_cond" ng-change="update()" />&lt;=
                <input name="angle_cond" type="radio" value=">=" ng-model="angle_cond" ng-change="update()" />&gt;=
                <input name="angle_cond" type="radio" value="between" ng-model="angle_cond" ng-change="update()" />between
                <input name="angle2" type="number" min="0" max="367" step="1" ng-model="angle2" ng-change="update()" />
                <input name="angle_cond" type="radio" value="any" ng-model="angle_cond" ng-change="update()" />Any
                <br />
                BKB:
                <input name="bkb" type="number" min="0" max="999" step="1" ng-model="bkb" ng-change="update()" />

                <input name="bkb_cond" type="radio" value="=" ng-model="bkb_cond" ng-change="update()" />=
                <input name="bkb_cond" type="radio" value="<" ng-model="bkb_cond" ng-change="update()" />&lt;
                <input name="bkb_cond" type="radio" value=">" ng-model="bkb_cond" ng-change="update()" />&gt;
                <input name="bkb_cond" type="radio" value="<=" ng-model="bkb_cond" ng-change="update()" />&lt;=
                <input name="bkb_cond" type="radio" value=">=" ng-model="bkb_cond" ng-change="update()" />&gt;=
                <input name="bkb_cond" type="radio" value="between" ng-model="bkb_cond" ng-change="update()" />between
                <input name="bkb2" type="number" min="0" max="999" step="1" ng-model="bkb2" ng-change="update()" />
                <input name="bkb_cond" type="radio" value="any" ng-model="bkb_cond" ng-change="update()" />Any
                <br />
                KBG:
                <input name="kbg" type="number" min="0" max="999" step="1" ng-model="kbg" ng-change="update()" />

                <input name="kbg_cond" type="radio" value="=" ng-model="kbg_cond" ng-change="update()" />=
                <input name="kbg_cond" type="radio" value="<" ng-model="kbg_cond" ng-change="update()" />&lt;
                <input name="kbg_cond" type="radio" value=">" ng-model="kbg_cond" ng-change="update()" />&gt;
                <input name="kbg_cond" type="radio" value="<=" ng-model="kbg_cond" ng-change="update()" />&lt;=
                <input name="kbg_cond" type="radio" value=">=" ng-model="kbg_cond" ng-change="update()" />&gt;=
                <input name="kbg_cond" type="radio" value="between" ng-model="kbg_cond" ng-change="update()" />between
                <input name="kbg2" type="number" min="0" max="999" step="1" ng-model="kbg2" ng-change="update()" />
                <input name="kbg_cond" type="radio" value="any" ng-model="kbg_cond" ng-change="update()" />Any
                <br />
                <input name="wbkb" type="checkbox" ng-model="wbkb" ng-change="update()" /> Weight-based knockback
                <input name="wbkb_cond" type="checkbox" ng-model="wbkb_any" ng-change="update()" />Any

                <br/>
                Sort by:
                <br/>
                <input name="sort_by" type="radio" ng-model="sort_by" value="character" ng-change="sort()"/> Character
                <input name="sort_by" type="radio" ng-model="sort_by" value="name" ng-change="sort()"/> Move name
                <input name="sort_by" type="radio" ng-model="sort_by" value="base_damage" ng-change="sort()"/> Base damage
                <input name="sort_by" type="radio" ng-model="sort_by" value="angle" ng-change="sort()"/> Angle
                <input name="sort_by" type="radio" ng-model="sort_by" value="bkb" ng-change="sort()"/> BKB
                <input name="sort_by" type="radio" ng-model="sort_by" value="kbg" ng-change="sort()"/> KBG

                <br/>
                Order by:
                <br/>
                <input name="order_by" type="radio" ng-model="order_by" value="asc" ng-change="sort()"/> Asc
                <input name="order_by" type="radio" ng-model="order_by" value="desc" ng-change="sort()"/> Desc
            </div>

        </div>

        

        <div id="results">
            <div id="filter">
                <br/>
                Results: {{noResults}} {{noResults == 1 ? "move" : "moves"}}
                <br />
                <table>
                    <tr>
                        <td>Character</td>
                        <td>Move</td>
                        <td>Hitbox active</td>
                        <td>FAF</td>
                        <td>Landing Lag</td>
                        <td>Autocancel</td>
                        <td>Base damage</td>
                        <td>Angle</td>
                        <td>BKB</td>
                        <td>KBG</td>
                        <td>Weight-based knockback</td>
                    </tr>
                    <tr ng-repeat="x in sortedMoves track by $index">
                        <td class="attribute" ng-style="{'background':x.color}">{{ x.character }}</td>
                        <td class="value">{{ x.move.name }}</td>
                        <td class="value">{{ x.move.hitboxActive_print}}</td>
                        <td class="value">{{ x.move.faf}}</td>
                        <td class="value">{{ x.move.landingLag}}</td>
                        <td class="value">{{ x.move.autoCancel_print}}</td>
                        <td class="value">{{ x.move.base_damage_print }}</td>
                        <td class="value">{{ x.move.angle }}</td>
                        <td class="value">{{ x.move.bkb }}</td>
                        <td class="value">{{ x.move.kbg }}</td>
                        <td class="value">{{ x.move.wbkb_print }}</td>
                    </tr>
                </table>
            </div>
        </div>



    </div>


</body>


</html>
