<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-81804817-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/scriptsdiff.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <link id="favicon" rel="shortcut icon" href="./img/icon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link id="mainStyle" rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Sm4sh Calculator - Script Diff Viewer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.3" />
    <meta name="description" content="Smash 4 hitbox script diff viewer" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Ruben_dal" />
    <meta name="twitter:title" content="Sm4sh Calculator - Script Diff Viewer" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image:src" content="https://raw.githubusercontent.com/rubendal/Sm4sh-Calculator/gh-pages/img/icon.png" />
    <meta property="og:title" content="Sm4sh Calculator" />
    <meta property="og:image" content="https://raw.githubusercontent.com/rubendal/Sm4sh-Calculator/gh-pages/img/icon.png" />
    <meta property="og:description" content="Web based Smash 4 knockback calculator" />
</head>
<body ng-app="scripts" ng-controller="scripts">

    <div id="header" class="header">
        <div id="header-cont">
            <img id="header-icon" class="header-image" src="./img/icon.png" />
            <div id="header-text">
                <a class="hide-link" href="https://github.com/rubendal/Sm4sh-Calculator#script-diff-viewer" target="_blank" title="Github repository"><h3>Sm4sh Calculator - Script Diff Viewer</h3></a>
                <br />
                <span class="description"></span>
                <br />
                <div class="header-links">
                    <select id="appSelect" class="header-select" ng-model="appLink">
                        <option ng-selected="$first" ng:repeat="a in apps" ng-attr-value="{{a.link}}">{{a.title}}</option>
                    </select>
                    <a class="header-link" href="{{appLink}}">Go</a>
                </div>
            </div>
            <span id="links">
                <span>
                    <a href="https://twitter.com/Ruben_dal" target="_blank" class="hide-link" title="Twitter @Ruben_dal">
                        <img class="header-link-icon" src="./img/t-icon.png" />
                    </a>
                    <a href="https://github.com/rubendal/Sm4sh-Calculator/wiki" target="_blank" class="hide-link" title="Wiki">
                        <img class="header-link-icon" src="./img/icon.png" />
                    </a>
                    <a href="https://github.com/rubendal" target="_blank" class="hide-link" title="Github">
                        <img id="github-profile" class="header-link-icon2" src="https://avatars.githubusercontent.com/u/10661132?v=3" />
                    </a>
                </span>
            </span>
            <span id="theme">
                Theme
                <select id="themeSelect" name="theme" class="header-select" ng-model="theme" ng-change="changeTheme()">
                    <option ng-selected="$first" ng:repeat="t in themes" ng-attr-value="{{t.name}}">{{t.name}}</option>
                </select>
            </span>
        </div>

    </div>


    <div name="calculator" id="calculator">

        <div id="main-scripts">
            

            <div>
                Character:
                <select name="character" ng-model="character" ng-change="updateCharacter()">
                    <option ng-selected="$first" ng:repeat="c in characters" ng-attr-value="{{c}}">{{c}}</option>
                </select>

                <br />
                Patch: 
                <select name="script" ng-model="patch" ng-change="updateFilter()">
                    <option ng-selected="$first" ng:repeat="p in patches" ng-attr-value="{{p}}">{{p}}</option>
                </select>

                <br />

                Script:
                <select name="script" ng-model="script" ng-change="updateScript()">
                    <option ng-selected="$first" ng:repeat="s in scripts" ng-attr-value="{{s}}">{{s.scriptName}}</option>
                </select>
                <!--<input type="checkbox" ng-model="ignoreNew" ng-change="updateFilter()" /> Ignore empty scripts-->

                <br />
                <br />

                <div style="float:left; width:48%; display:block; padding-left:5px;">
                    {{ver1}} <button ng-click="copyCode()" ng-style="sf_code_css">Copy Smash Forge script code</button>
                </div>

                <div style="float:right; width:48%; display:block; padding-left:5px;">
                    {{ver2}} <button ng-click="copyCode2()" ng-style="sf_code2_css">Copy Smash Forge script code</button>
                </div>

                <br />

                <div class="script-diff" ng-bind-html="v1">

                </div>

                <div class="script-diff2" ng-bind-html="v2">
                    
                </div>

                <textarea id="copyscriptbox" class="hidden-box" ng-model="sf_code" readonly tabindex='-1' aria-hidden='true'></textarea>
                <textarea id="copyscriptbox2" class="hidden-box" ng-model="sf_code2" readonly tabindex='-1' aria-hidden='true'></textarea>
            </div>
        </div>
    </div>


</body>


</html>
