#results{
    margin-top:20px;
    position:relative;
}

#graph{
    position: relative;
    top:0;
    left:auto;
}

.section-table-content{
    padding:5px;
    text-align:center;
    width:50%;
}

.section-table{
    width:100%;
}

#filter{
    position: relative;
    top:0;
    left:auto;
}